<div
  class="sidenav animate__animated __animate__fadeIn animate__delay-1s"
  dir="rtl"
>
  <div class="nav-content">
    <a #navLink class="nav-links pointer">من نحن</a>

    <a class="nav-links pointer" #navLink href="#about">رؤيتنا</a>
    <a class="nav-links pointer" #navLink href="#services">خدماتنا</a>
    <a class="nav-links pointer" #navLink href="#projects">أعمالنا</a>
    <a class="nav-links pointer" #navLink href="#clients">عملاوئنا</a>
    <a class="nav-links pointer" #navLink href="#contact">للتواصل</a>

    <p class="nav-acc-1">أكس</p>
    <p class="nav-acc">سناب شات</p>
    <p class="nav-acc">إنستقرامب</p>
  </div>
</div>
