.container {
    margin-top: 50px;
  
    flex-direction: row-reverse;
  }

  .content {
    margin-right: 10px;
    /* comment 1/8 */
    /* width: 85%; */

  }
  
  .circle {
    width: 20px;
    height: 20px;
    background-color: #fff;
    /* Adjust the color as needed */
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
    /* Adjust the spacing as needed */
  }
  
  .item {
    width: 100%;
    padding-top: 50px;
  }

  .header-hr {
    margin-bottom: 50px;
    width: 5%;
    margin-bottom: 130px;
    /* margin-right: initial;*/
  }
  
  
  .header-p {
    color: var(--white);
    margin-bottom: 40px;
    font-size: 28px;
    font-family: somar-medium;
    padding-top: 40px;
  }
  
  .header-p1 {
    color: var(--white);
    margin: unset;
    /* position: relative; */
    font-size: 23px;
    padding-bottom: 3px;
    font-family: somar-regular;
    margin-left: 10px;
  }
  
  .header-label {
    color: var(--white);
    font-size: 121px;
    margin-bottom: -18px;
    font-family: somar-regular;
  }
  .arrow {
    display: flex;
    align-items: center;
    width: fit-content;

    border-bottom: 2px solid white;
  }
  .header-arrow {
    display: flex;
  }
  
  .header-img {
    /* display: block !important;
      width: 16% !important;
      height: 15px; */
    /* margin-top: -21px; */
    width: 11.29px !important;
    height: 11.29px !important;
  }
  
  .about-label {
    color: var(--white);
    font-size: 88px;
    margin-bottom: 30px;
    margin-top: 0px;
    margin-top: -15px;
    font-family: somar-bold;
  }
  
  .about-p {
    color: var(--pink);
    font-size: 45px;
    margin-bottom: unset;
    font-family: somar-medium;
    padding-top: 115px;
  }
  
  .about-p1 {
    color: var(--white);
    margin-bottom: 55px;
    font-family: somar-regular;
    white-space: normal;
    width: 45%;
    text-align: right;
    float: right;
    opacity: 0.7;
  }
  
  .about {
    text-align: right;
  }
  
  .logo {
    height: 100px;
    background-image: url(../../assets/Assets/codveo-logo.png);
    background-size: 20%;
    background-position: center right;
    background-repeat: no-repeat;
  
  }
  
 
  
  .about-img {
    mix-blend-mode: color-dodge;
    margin-top: 115px;
    height: 300px;
    /* position: absolute; */
    width: 70%;
    position: relative;
    left: 30%;
    /* margin-right: 0px; */
    background-image: url(../../assets/Assets/startup-concept-with-rocket-bw.png);
    background-size: cover;
    background-position: center;
  }
  
  .container {
    background-image: url("../../assets/Assets/Path 28.png"), url("../../assets/Assets/Background 1.svg"),
      url("../../assets/Assets/Group 353.png");
      background-position: 452px 116px, -29px -223px, 46px 578px;
      background-size: 56%, 110%, 46%;
    background-repeat: no-repeat, no-repeat, no-repeat;
    color: #fff;
    margin-bottom: 75px;
  }
  



  @media only screen and (max-width: 480px),
    only screen and (max-width: 768px),
    only screen and (max-width: 992px) {
    .arrow {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  .logo {
    height: 100px;
    background-image: url(../../assets/Assets/codveo-logo.png);
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
  }
  .content {
    margin: auto;
  }
  header {
    margin: auto !important;
  }
  /* .container {
        background-image: url('Assets/Path 28.png'), url('Assets/Background 1.svg'), url('Assets/Group 353.png');
        background-position: 117px -41px, -530px -223px, -97px 617px;
        background-size: 162%, 
        300%, 51%;
        background-repeat: no-repeat, no-repeat, no-repeat;
        color: #fff;
        margin-top: 0px;
        justify-content: center;
    } */
  
    .container {
      background-image: url('../../assets/Assets/Path 28.png'), url('../../assets/Assets/Background 1.svg'), url('../../assets/Assets/Group 353.png');
      background-position: 80px -82px,-498px -245px, bottom left;
      background-size: 187vw 48vh, cover, 30% 40%;
      background-repeat: no-repeat, no-repeat, no-repeat;
      color: #fff;
      margin-top: 0px;
  }
  .header {
    text-align: center;
  }

  .about-p {
    /* TEXT-ALIGN: center; */
    text-align: center;
  }
  .header-hr {
    margin-bottom: 50px !important;
    width: 87px !important;
    margin: auto;
    /* position: absolute; */
  }
  .header-label {
    font-size: 45px;
    margin-bottom: 0px;
  }
  .header-p {
    font-size: 24px;
    margin-top: 15px;
    padding-top: 0px;
  }
  .header-p{
   
  }
  .header-p1 {
    font-size: 24px;
  }
  .about-label {
    text-align: center;
    font-size: 45px;
    padding-top: 0px;
    margin-bottom: 10px;
    margin-top: 5px;
  }
  .about-p1 {
    text-align: center;
    float: unset;
    margin: auto;
    width: 100%;
  }
  .about-p {
    text-align: center;
    font-size: 24px;
    /* margin-top: 55px;
     */
     padding-top: 40px;
  }

  .about-img {
    /* width: 100%; */
    left: unset;
    width: 100%;
    margin-top: 10px;
  }
}

.flex{
  display: flex;

}

.d-inline{
  display: inline-block;
}

button{
  border: none;
margin: 0;
padding: 0;
font-size: inherit;
font-family: inherit;
cursor: pointer;
background: none;
color: inherit;
text-decoration: none;
display: inline-block;
text-align: center;
vertical-align: middle;
white-space: nowrap;
}
