<section class="section-four  animate__animated __animate__fadeIn animate__delay-1s">
  <div class="section-four-container">
    <div class="third-first-part">
      <div class="flex">
        <p class="title" *ngIf="title">كودڤيو</p>
        <input type="text" [(ngModel)]="visioninputtitle" *ngIf="showinputtitle">
        <button #buttontitle (click)="changetitle()"><mat-icon>{{ButtonTexttitle}}</mat-icon></button>
        <!-- <button #savebutton *ngIf="savebuttonif"><mat-icon #maticon>save</mat-icon></button> -->
      </div>
      <div class="flex">
        <p class="sub-title" *ngIf="subtitle">رؤيتنا</p>
        <input type="text" [(ngModel)]="visioninputsubtitle" *ngIf="showinputsubtitle">
        <button #buttonsubtitle (click)="changeSubTitle()"><mat-icon>{{ButtonTextsubtitle}}</mat-icon></button>
      </div>
    </div>
    <div class="third-second-part">
      <p *ngIf="paragraph">
        نسعى في كودڤيو لتحقيق مكانة رائدة في عالم الإبداع الرقمي من خلال تقديم
        تجارب رقمية استثنائية تلهم وتحقق النجاح لعملائنا.
      </p>
      <textarea name="" id="" cols="30" rows="10" *ngIf="showinputparagraph" [(ngModel)]="visioninputparagraph"></textarea>
      <button #buttonParagraph (click)="changeParagraph()"> <mat-icon>{{ButtonTextparagraph}}</mat-icon></button>
    </div>
  </div>
</section>