<section class="section-four  animate__animated __animate__fadeIn animate__delay-1s">
  <div class="section-four-container">
    <div class="third-first-part">
      <p class="title">كودڤيو</p>
      <button><i class="fa-solid fa-house width"></i></button>
      <p class="sub-title">رؤيتنا</p>
    </div>
    <div class="third-second-part">
      <p>
        نسعى في كودڤيو لتحقيق مكانة رائدة في عالم الإبداع الرقمي من خلال تقديم
        تجارب رقمية استثنائية تلهم وتحقق النجاح لعملائنا.
      </p>
    </div>
  </div>
</section>
