.flex{
    display: flex;
}
button{
    border: none;
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  background: none;
  color: inherit;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}

textarea{
  margin-right: 100px;
}