<section
class="section-five "
>
<div class="for-padd">
  <div class="background-color">
    <div class="composition  animate__animated __animate__fadeIn animate__delay-1s">
      <div class="text">
        <img src="../assets/Assets/rocket-lunch.png" class="rocket-image" alt="" />
        <p class="five-title">ترى جاهزين</p>
        <div class="image-section">
          <img src="../assets/Assets/rocket-lunch.png" alt="" />
          <p class="five-subtitle">لاستشارتك المجانية!</p>
        </div>
        <div>
          <span class="link">
            <p class="link-title">اطلب الآن</p>
            <img src="../assets/Assets/Arrow.svg" alt="" />
          </span>
        </div>
      </div>
      <div class="image-man">
        <img
          src="../assets/Archive-two/middle-eastern-arab-man-posed-street-against-modern-building.png"
          class="full-image"
        />
        <img
          src="../assets/Archive/middle-eastern-arab-man-posed-street-against-modern-building.png"
          class="smaller-image"
          alt=""
        />
      </div>
    </div>
  </div>
</div>
</section>