<section class="section-four  " id="services">
  <div class="image animate__animated __animate__fadeInRightBig animate__delay-1s">
    <img src="../assets/Assets/Group 357.png" alt="" class="triangle-image" />
    <img src="../assets/Assets/blue-triw.png" alt="" class="blue-faded" />
  </div>
  <div class="accordion-container animate__animated __animate__fadeIn animate__delay-1s">
    <div class="introduction">
      <p class="title">باقات متعددة</p>
      <p class="fourth-subtitle">خدمات كودڤيو</p>
      <p class="fourth-paragraph">
        تطوير المواقع والتطبيقات تصميم تجربة المستخدم/واجهة المستخدم (UX/UI)
        بالإضافة إلى تطوير العلامة التجارية.
      </p>
    </div>

    <div class="accordion">
      <app-accordion-item
        [accordionItems]="accordionDetails"
      ></app-accordion-item>
    </div>
  </div>
</section>
